# Database
# https://docs.djangoproject.com/en/3.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'instore_db',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '',
    }
}

ALLOWED_HOSTS = "*"

CORS_ORIGIN_ALLOW_ALL = True

REQUEST_SCHEMA = "http://"

DEBUG_STORE_ID = 0

SUPERUSER_STORE_NAME = "Admin Store"
SUPERUSER_STORE_DOMAIN = "api.hash37.marketing"
SUPERUSER_STORE_EMAIL = "nabeel@hash37.com"