# Debug
DEBUG = False

# Enables Django Site
SITE_ID = "1"

# Database
# https://docs.djangoproject.com/en/3.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'instore_production',
        'USER': 'instore_postgres',
        'PASSWORD': 'postgrespass',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}


ALLOWED_HOSTS = "*"

CORS_ORIGIN_ALLOW_ALL = True

REQUEST_SCHEME = "https://"

SUPERUSER_STORE_NAME = "Admin Store"
SUPERUSER_STORE_DOMAIN = "api.hash37.marketing"
SUPERUSER_STORE_EMAIL = "nabeel@hash37.com"
SUPERUSER_STORE_BG_COLOR = "#ffffff"
SUPERUSER_STORE_BUTTON_COLOR = "#ffffff"