# Database
# https://docs.djangoproject.com/en/3.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'instore_production',
        'USER': 'postgres',
        'PASSWORD': 'root',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

SITE_ID = "1"

ALLOWED_HOSTS = "*"

CORS_ORIGIN_ALLOW_ALL = True
CORS_ORIGIN_WHITELIST = [
]

REQUEST_SCHEMA = "https://"
